.experience {
    display: flex;
    flex-flow: column;

    padding: 0;
    margin: 0;
    list-style: none;
}

.experience li {
    margin-bottom: 0.5rem;
}

.experience li .period {
    display: flex;
    align-items: center;
}

.experience li .period::before {
    content: "";
    display: inline-block;

    height: 1rem;
    width: 1rem;

    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/icons/calendar.svg);

    margin-right: 0.5rem;
}
