* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

@font-face {
    font-family: "Neue Machina";
    src: url(../fonts/Neue-Machina-Font-Family/NeueMachina-Regular.otf);
}

body {
    background-color: black;
    color: white;
}

.main {
    padding: 1rem;
    margin: 0.5rem;
    border: 1px solid white;
    border-radius: 1rem;
}

.main::before {
    content: "";
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    background-size: contain;

    display: inline-block;

    width: 140vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.main::after {
    content: "";
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    background-size: contain;

    display: inline-block;

    width: 100vw;
    height: 140vh;

    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;

    transform: rotate(180deg);
}

@media screen and (min-width: 690px) {
    .main {
        max-width: 1024px;
        margin: 0 auto;
    }

    .main::before,
    .main::after {
        width: 70vw;
    }
}
