.languages {
    display: flex;
    align-items: center;
    flex-flow: wrap;

    margin: 0;
    padding: 0;
    list-style: none;
}

.languages li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    font-weight: 700;
    font-size: 1.125rem;
}

.languages li::before {
    content: "";
    display: inline-block;

    height: 1rem;
    width: 1rem;

    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/icons/check.svg);

    margin-right: 0.5rem;
}
