.portifolio {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.portifolio li {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    margin: 1rem 0;
}

.portifolio li h3 {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.5rem;
}

.portifolio li h3.github::before {
    content: "";
    display: inline-block;

    height: 1rem;
    width: 1rem;

    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/icons/github.svg");

    margin-right: 0.5rem;
}

.portifolio li a {
    color: white;
    text-decoration: none;
}

.portifolio li a:hover {
    text-decoration: underline;
}
