.skills {
    display: flex;
    flex-flow: column;
}

.skills .tools ul {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: center;

    margin: 0;
    padding: 0;

    list-style: none;
}

.skills .tools ul li img {
    max-width: 50px;
    margin: 0.5rem;
}

.skills .personal ul {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: center;

    margin: 0;
    padding: 0;

    list-style: none;
}

.skills .personal ul li {
    margin-left: 2rem;
    padding: 0.5rem;
}

@media screen and (min-width: 690px) {
    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
